.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .table {
    display: grid;
    grid-template-columns: 50px 1fr 200px 100px;
    overflow: auto;
    max-width: 100%;

    .header {
      color: #717171;
      .cell {
        border-bottom: 2px solid #E7E7E7 !important;
      }
    }
  
    .row {
      display: contents;
  
      .cell {
        border-bottom: 1px solid #E7E7E7;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
  
      .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
  
        div[role=button] {
          cursor: pointer;
        }
      }

      &.starting > .cell {
        background-color: #c6ffd7;
      }

      &.stopping > .cell {
        background-color: #F3EADA;
      }

      &.closing > .cell {
        background-color: #FFE7FF;
      }

      &.closed > .cell {
        background-color: #E7E7E7;
      }
    }
  }
}