.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 36px;
  gap: 10px;
  justify-content: center;

  width: 167px;
  min-width: max-content;
  height: 46px;

  color: #717171;  
  border: 2px solid #717171;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;

  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }

  &:active:not(:disabled) {
    filter: brightness(1);
  }

  &:disabled {
    background-color: #E7E7E7 !important;
    color: #A1A1A1 !important;
    cursor: default !important;
  }
}