.btn {
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition-duration: .4s;
  max-width: min-content;
  background: #44998A;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  &:hover {
    background-color: #10826E;
  }
  &:active {
    border-color: #10826E;
    background: #44998A;
  }
  
  &.warning {
    background: #998944;
    &:hover {
      background-color: #827110;
    }
    &:active {
      border-color: #827110;
      background: #998944;
    }
  }
  
  &.error {
    background: #710000;
    &:hover {
      background-color: #821010;
    }
    &:active {
      border-color: #821010;
      background: #710000;
    }
  }
}

.btn-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}

.btn-transparent {
  padding: 12px 34px;
  border: 2px solid #44998A;
  border-radius: 50px;
  color: #44998A;
  cursor: pointer;
  transition-duration: .4s;
  background-color: #ffffff;
  &:hover {
    background-color: #44998A;
    border-color: #44998A;
    color: #ffffff;
  }
  &:active {
    background-color: #10826E;
  }
}