.select-label {
  color: #717171;
  margin-bottom: 5px;
}

.selectWrapper {
  display: flex;
  flex-direction: column;

  .selectContent {
    display: flex;
    gap: 10px;

    .select {
      position: relative;
      border-radius: 6px 6px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 10px 20px;
      background-color: #FCFCFC;
      transition-duration: .4s;
      border: 1px solid #E7E7E7;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      flex-grow: 1;
      height: 44px;

      div[role=button] {
        height: 22px;
      }
  
      input {
        border: none;
        outline: none;
        width: 100%;
        background-color: #FCFCFC;
        &::placeholder {
          color: #DDDDDD;
        }
      }
    }

    svg {
      outline: none;
      cursor: pointer;
    }
  }
}

.dropdownMenuWrapper {
  &.open {
    display: block;
  }
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  
  &:not(:has(.menuItem)) {
    display: none;
  }
  
  .dropdownMenu {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-radius: 0px 0px 6px 6px;
    border-right: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    max-height: 230px;
    overflow: auto;

    .menuItem {
      display: flex;
      cursor: pointer;
      padding: 10px 10px 10px 20px;
      align-items: center;
      transition-duration: .4s;
      justify-content: space-between;

      &.active, &:hover {
        background-color: #FAFAFA;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #E7E7E7;
      }
    }
  }
}

.selectedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 10px 10px 10px 20px;
  margin-top: 10px;

  .removeSelectedItem {
    cursor: pointer;
  }
}

.tooltip {
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
}