.wrapper {
  position: relative;
}

.select-label {
  color: #717171;
  margin-bottom: 5px;
}

.select {
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 10px 10px 10px 20px;
  background: #FCFCFC;
  transition-duration: .4s;
  border: 1px solid #E7E7E7;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  
  &.success {
    border: 1px solid #44998998;
  }
  
  &.error {
    border: 1px solid #dd6642;
  }

  div[role=button] {
    height: 22px;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    background-color: #FCFCFC;
    &::placeholder {
      color: #DDDDDD;
    }
  }

  .selectBtnSpan {
    white-space: nowrap;
  }
}


.dropdownMenuWrapper {
  &.open {
    display: block;
  }
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #FCFCFC;
  
  .dropdownMenu {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-radius: 0px 0px 6px 6px;
    border-right: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    max-height: 230px;
    overflow: auto;

    .menuItem {
      display: flex;
      cursor: pointer;
      padding: 10px 10px 10px 20px;
      align-items: center;
      transition-duration: .4s;
      justify-content: space-between;

      &.active, &:hover {
        background-color: #FAFAFA;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #E7E7E7;
      }
    }
  }
}

.toggleBtn.active {
  transform: rotateX(180deg);
}