.label {
  display: flex;
  flex-direction: column;
  position: relative;
  span {
    color: #717171;
    margin-bottom: 5px;
  }
  svg {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    right: 10px;
  }
  .input {
    background: #FFFFFF;
    /* Grayscale/4 */
    outline: none;
    //user-select: none;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 13px 19px;
    resize: none;
    &::placeholder {
      color: #D0D0D0;
    }
  }

  .error {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #dc3232 !important;
  }
}