.not-found__cont {
  display: flex;
  flex-direction: row
}

@media (max-width: 759px) {
  .not-found__cont {
    flex-direction: column-reverse
  }
}

.not-found__left {
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 40%;
  margin-right: auto
}

.not-found__right-img {
  max-width: 100%
}

.not-found__cont__title {
  margin-bottom: 30px
}

@media (max-width: 759px) {
  .not-found__cont__title {
    margin-bottom: 20px
  }
}

.not-found__cont__text {
  margin-bottom: 50px
}

@media (max-width: 759px) {
  .not-found__cont__text {
    margin-bottom: 30px
  }
}

.not-found__right {
  display: flex
}

@media (max-width: 759px) {
  .not-found__right {
    margin-bottom: 20px
  }
}