.reg {
  margin-top: -84px;
  background-color: #fafafa;
  @media (max-width: 1549px) {
    margin-top: -66px;
  }
  &__cont {
    display: grid;
    grid-template-columns: 1255fr 665fr;
    @media (max-width: 1249px) {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    margin-top: 84px;
    padding-bottom: 32px;
    @media (max-width: 1549px) {
      margin-top: 66px;
    }
    @media (max-width: 1249px) {
      padding: 0 44px 30px 44px;
    }
    @media (max-width: 1249px) {
      padding: 0 20px 40px 20px;
      width: 100vw;
    }
    &-cont {
      display: flex;
      flex-direction: column;
      padding: 0 64px 100px 135px;
      @media (max-width: 1899px) {
        padding-left: 115px;
      }
      @media (max-width: 1549px) {
        padding-left: 95px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
      }
      @media (max-width: 1399px) {
        padding-left: 75px;
      }
      @media (max-width: 1249px) {
        padding: 0;
      }
    }
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-left: 66px;
      @media (max-width: 1250px) {
        margin-left: 0;
      }
      @media (max-width: 759px) {
        overflow: auto;
        margin-right: -20px;
        margin-left: -20px;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &-prev {
        border: 2px solid #99C3BD;
        border-radius: 50px;
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 20px;
        min-width: 46px;
        @media (max-width: 1249px) {
          margin-right: 15px;
        }

        &:disabled {
          color: #000;
          border: 2px solid #acacac;
          cursor: default;
        }
      }
      &-title {
        margin-right: 20px;
        @media (max-width: 1249px) {
          margin-right: 15px;
        }
        @media (max-width: 759px) {
          white-space: nowrap;
        }
      }
      &-num {
        color: #A1A1A1;
        @media (max-width: 759px) {
          white-space: nowrap;
        }
      }
    }
  }
  &__steps {
    display: flex;
    margin-left: 66px;
    @media (max-width: 1249px) {
      margin-left: 0;
    }
  }
  &__step {
    width: 100%;
    height: 5px;
    background: #E7E7E7;
    border-radius: 2.5px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      background-color: #44998A;
    }
  }
  &__tabs {
    margin-left: 66px;
    margin-top: 30px;
    @media (max-width: 1549px) {
      margin-top: 20px;
    }
    @media (max-width: 1249px) {
      margin-left: 0;
    }
  }
  &__tab {
    display: none;
    flex-direction: column;
    &.active {
      display: flex;
    }
    &:nth-child(5) {
      .reg__item-top-title {
          max-width: 670px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &-old {
      display: none;
      &.active {
        display: flex;
      }
    }
    &-top {
      display: flex;
      align-items: center;
      &-num {
        background: #F3F3F3;
        border-radius: 50px;
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        @media (max-width: 1249px) {
          width: 33px;
          height: 33px;
        }
      }

    }
    &-bot {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      margin-left: 23px;
      padding-left: 37px;
      border-left: 1px solid #E7E7E7;
      @media (max-width: 1249px) {
        padding-top: 15px;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
    &-payments {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      &-title {
        font-family: 'Montserrat';
        margin-bottom: 15px;
        font-weight: 600;
      }
      &-radios {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    &-input {
      display: flex;
      flex-direction: column;
      width: 390px;
      @media (max-width: 1899px) {
        width: 330px;
      }
      @media (max-width: 1399px) {
        width: 273px;
      }
      @media (max-width: 1249px){
        width: 330px;
      }
      @media (max-width: 759px) {
        width: 100%;
      }
      input {
        width: 100%;
      }
      &-label {
        color: #717171;
        margin-bottom: 5px;
      }
      &-date {
        svg {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
      &-wrapper {
        display: flex;
        position: relative;

      }
    }
    &-company-name {
      display: flex;
      flex-direction: row;
      strong {
        margin-top: 32px;
        margin-right: 10px;
        font-family: 'Montserrat';
      }
    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &.open {
      .reg__table-top {
        border-radius: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
      .reg__table-top-toggle {
        svg {
          transform: rotateX(180deg);
        }
      }
      .reg__table-rows {
        display: grid;
        flex-direction: column;
      }
    }
    &.colorfull.opened:not(.open) {
      .reg__table-top {
        background-color: rgba(68, 151, 136, 0.2);
      }
    }
    &.colorfull:not(.opened):not(.open) {
      .reg__table-top {
        background-color: hsla(0, 82%, 69%, 0.2);
      }
    }
    &-top {
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      padding: 15px;
      align-items: center;
      background-color: #fafafa;
      &-title {
        color: #131313;
      }
      &-toggle {
        cursor: pointer;
        svg {
          transition: .3s;
        }
      }
      &.expanding {
        cursor: pointer;
      }
    }
    &-rows {
      background-color: #FAFAFA;
      display: none;
    }
    &-edit {
      cursor: pointer;
    }
    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
    &-actions {
      display: flex;
      gap: 5px;
      justify-content: flex-end;
    }
    &-row {
      display: contents;
      &:not(:last-child) {
        border-bottom: 1px solid #E7E7E7;
      }
      &-item {
        padding: 10px 20px;
        color: #131313;
        border-top: 1px solid #E7E7E7;
        &-gray {
          color: #717171;
        }
        ol {
          padding-left: 15px;
        }
        li {
          list-style: decimal;
        }
      }
    }
  }
  &-p {
    margin-bottom: 20px;
  }
  &-title {
    padding: 15px 0 15px 135px;
    background-color: #FAFAFA;
    @media (max-width: 1899px) {
      padding-left: 115px;
    }
    @media (max-width: 1549px) {
      padding-left: 95px;
    }
    @media (max-width: 1399px) {
      padding-left: 75px;
    }
    @media (max-width: 1249px) {
      padding: 0;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
  &__right {
    background-color: #FAFAFA;
    position: sticky;
    top: 0;
    display: flex;
    height: calc(100vh - 87px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 58px 55px 0 55px;
    @media (max-width: 1549px) {
      padding: 30px 20px 0 20px;
      justify-content: normal;
    }
    @media (max-width: 1249px) {
      height: auto;
      position: static;
      padding: 20px;
      margin-bottom: 34px;
    }
    @media (max-width: 759px) {
      padding: 20px;
      margin-bottom: 49px;
    }
    &-cont {
      background: rgba(68, 153, 138, 0.1);
      /* Grayscale/4 */

      border: 1px solid #E7E7E7;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 30px;
      @media (max-width: 1249px) {
        max-width: 415px;
      }
    }
    &-change {
      top: 33.5px;
      right: 60px;
      cursor: pointer;
      position: absolute;
      display: flex;
      @media (max-width: 1549px) {
        top: 22.5px;
        right: 20px;
      }
      @media (max-width: 1249px) {
        top: 30px;
        right: 20px;
      }
      @media (max-width: 759px) {
        top: 20px;
      }
    }
    &-title {
      padding: 30px 0 20px 0;
      text-align: center;
      border-bottom: 1px solid rgba(68, 153, 138, .3);
      @media (max-width: 1549px) {
        padding: 20px 0;
      }
      @media (max-width: 1249px) {
        padding: 30px 0 20px 0;
      }
      @media (max-width: 759px) {
        padding-top: 20px;
      }
    }
    &-rows {
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(68, 153, 138, .3);
      @media (max-width: 1549px) {
        padding: 20px;
      }
      @media (max-width: 1249px) {
        padding: 20px 60px;
      }
      @media (max-width: 759px) {
        padding: 20px;
      }
    }
    &-row {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 15px;
        @media (max-width: 1549px) {
          margin-bottom: 10px;
        }
        @media (max-width: 1249px) {
          margin-bottom: 15px;
        }
      }
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(2) {
          margin-top: 5px;
        }
        &-sub {
          display: flex;
          align-items: flex-end;
          color: #717171;
        }
      }
    }
    &-img {
      display: flex;
      margin-top: 5px;
      @media (max-width: 1549px) {
        margin-top: 17px;
      }
      @media (max-width: 1249px) {
        margin-top: 15px;
      }
      img {
        @media (max-width: 1549px) {
          width: 250px;
        }
        @media (max-width: 1249px) {
          width: 227px;
        }
      }
    }
  }
}

.filesLink {
  color: #10826E;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.registeredRadio {
  background-color: #FCFCFC;
  padding: 11px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  cursor: pointer;
}

.activityOptionPrice {
  margin-left: auto;
  margin-right: 20px;
}