.service {
  margin-top: -57px;
  margin-bottom: 30px;
  @media (max-width: 1549px) {
    margin-top: -36px;
  }
  @media (max-width: 1399px) {
    margin-top: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @media (max-width: 1549px) {
      grid-template-columns: 717fr 503fr;
    }
    @media (max-width: 1249px) {
      grid-template-columns: 4fr 3fr;
    }
    @media (max-width: 999px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  &-title {
    @media (max-width: 1549px) {
      max-width: 610px;
    }
    @media (max-width: 999px) {
      margin-bottom: 10px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    img, svg {
      display: none;
      @media (max-width: 999px) {
        display: block;
        width: 441px;
        height: 441px;
        object-fit: contain;
        margin: 0 auto;
      }
      @media (max-width: 759px) {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
    ul {
      max-width: 670px;
      padding-left: 25px;
      margin: 30px 0 50px 0;
      @media (max-width: 1549px) {
        max-width: 100%;
        margin-bottom: 40px;
      }
      @media (max-width: 999px) {
        margin: 10px 0 30px 0;
      }
      li {
        list-style: disc;
      }
    }
  }
  &__btns {
    display: flex;
    @media (max-width: 759px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .btn {
      margin-right: 30px;
      @media (max-width: 999px) {
        margin-right: 20px;
      }
      @media (max-width: 759px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  &__img {
    margin: auto 0;
    display: flex;
    transition-delay: .2s;
    @media (max-width: 999px) {
      display: none;
    }
    img, svg {
      width: 100%;
      object-fit: cover;
    }
  }
}

.why {
  margin-bottom: 60px;
  &__items {
    background-color: #FAFAFA;
    padding: 80px 0;
    @media (max-width: 999px) {
      padding: 40px 0;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px 30px;
      @media (max-width: 999px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      @media (max-width: 759px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      transition-delay: .1s;
    }
    &:nth-child(3) {
      transition-delay: .2s;
    }
    &:nth-child(4) {
      transition-delay: .3s;
    }
    &:nth-child(5) {
      transition-delay: .4s;
    }
    &:nth-child(6) {
      transition-delay: .5s;
    }
    &-top {
      display: flex;
      &-num {
        color: #44998A;
        margin-right: 10px;
      }
    }
    &-p {
      color: #717171;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #44998A;
    }
  }
}