.service {
  margin-top: -57px;
  margin-bottom: 30px;
  @media (max-width: 1549px) {
    margin-top: -36px;
  }
  @media (max-width: 1399px) {
    margin-top: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @media (max-width: 1549px) {
      grid-template-columns: 717fr 503fr;
    }
    @media (max-width: 1249px) {
      grid-template-columns: 4fr 3fr;
    }
    @media (max-width: 999px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  &-title {
    @media (max-width: 1549px) {
      max-width: 610px;
    }
    @media (max-width: 999px) {
      margin-bottom: 10px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    img, svg {
      display: none;
      @media (max-width: 999px) {
        display: block;
        width: 441px;
        height: 441px;
        object-fit: contain;
        margin: 0 auto;
      }
      @media (max-width: 759px) {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
    ul {
      max-width: 670px;
      padding-left: 25px;
      margin: 30px 0 50px 0;
      @media (max-width: 1549px) {
        max-width: 100%;
        margin-bottom: 40px;
      }
      @media (max-width: 999px) {
        margin: 10px 0 30px 0;
      }
      li {
        list-style: disc;
      }
    }
  }
  &__btns {
    display: flex;
    @media (max-width: 759px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .btn {
      margin-right: 30px;
      @media (max-width: 999px) {
        margin-right: 20px;
      }
      @media (max-width: 759px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  &__img {
    margin: auto 0;
    display: flex;
    transition-delay: .2s;
    @media (max-width: 999px) {
      display: none;
    }
    img, svg {
      width: 100%;
      object-fit: cover;
    }
  }
}

.why {
  margin-bottom: 60px;
  &__items {
    background-color: #FAFAFA;
    padding: 80px 0;
    @media (max-width: 999px) {
      padding: 40px 0;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px 30px;
      @media (max-width: 999px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      @media (max-width: 759px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      transition-delay: .1s;
    }
    &:nth-child(3) {
      transition-delay: .2s;
    }
    &:nth-child(4) {
      transition-delay: .3s;
    }
    &:nth-child(5) {
      transition-delay: .4s;
    }
    &:nth-child(6) {
      transition-delay: .5s;
    }
    &-top {
      display: flex;
      &-num {
        color: #44998A;
        margin-right: 10px;
      }
    }
    &-p {
      color: #717171;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #44998A;
    }
  }
}

.table {
  &__table {
    max-width: 1091px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    @media (max-width: 759px) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  &__titles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-title {
    padding: 40px;
    text-align: center;
    background-color: #44998A;
    @media (max-width: 999px) {
      padding: 15px;
    }
    &:not(:last-child) {
      border-right: 1px solid #E7E7E7;
    }
  }
  &__sub {
    padding: 20px;
    text-align: center;
    background-color: #FAFAFA;
    @media (max-width: 999px) {
      padding: 10px;
    }
  }
  &__elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__el {
    margin: 10px 0;
    text-align: center;
    padding: 10px 40px;
    color: #717171;
    @media (max-width: 999px) {
      padding: 0 20px;
    }
    @media (max-width: 759px) {
      padding: 0 10px;
    }
    &:not(:last-child) {
      border-right: 1px solid #E7E7E7;
    }
  }
}

.faq {
  &__items {
    columns: 2;
    page-break-inside: avoid;
    break-inside: avoid;
    column-gap: 30px;
    margin: 0 auto;
    max-width: 1370px;
    @media (max-width: 1549px) {
      max-width: 1036px;
    }
    @media (max-width: 999px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
  &__rows {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: auto;
    @media (max-width: 999px) {
      grid-gap: 10px;
    }
  }
  &__item {
    background: #FAFAFA;
    border-radius: 5px;
    margin-bottom: 20px;
    &-top {
      padding: 15px 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      @media (max-width: 999px) {
        padding: 15px 20px;
      }
      &:hover {
        span {
          color: #44998A;
        }
        path {
          stroke: #44998A;
        }
      }
      span, path {
        transition-duration: .4s;
      }
      svg {
        min-width: 18px;
      }
      span {
        margin-right: 10px;
        @media (max-width: 999px) {
          margin-right: 15px;
        }
        @media (max-width: 759px) {
          margin-right: 10px;
        }
      }
      &-minus {
        display: none;
      }
    }
    &-bot {
      padding: 0 30px 15px 30px;
      display: none;
      @media (max-width: 999px) {
        padding: 0 20px 15px 20px;
        margin-top: -5px;
      }
    }
    &.active {
      svg {
        display: none;
      }
      .faq__item-top-minus {
        display: flex;
      }
      .faq__item-bot {
        display: block;
      }
    }
  }
}